<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h1>Register Here </h1>
        <form action="/register" method="POST" class="myForm">
            <label for="email" class="login">Email Address</label>
            <input type="email" name="email" id="email" placeholder="Enter your Email">            
            
            <label for="password" class="login">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password">

            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</body>
</html>